/*!---------------------------------------------- MQ TABLET ------------------------------------------------*/

/*?MEDIA QUERIES TABLET*/
@media screen and (min-width: 767px) and (max-width: 1019px) {
    /*------------------------------------------------pool*/
    #Pool {
        border: 4px solid red;
        flex-direction: row !important;
    }
    /*--------------------------------------------navbar*/

    /**------------------------------------------ FOOTER -----------------------------------------------*/

   
}


/*!---------------------------------------------- MQ LAPTOP ------------------------------------------------*/

/*?MEDIA QUERIES LAPTOP*/
@media screen and (min-width: 1020px) {
/*------------------------------------------------pool*/

#Pool {
    /* border: 4px greenyellow solid; */
    position: relative!important;
    top: 0vh!important;
    min-height: 70vh!important;
    max-height: fit-content!important;
    width: inherit!important;
    padding-top: 11vh!important;
    padding-bottom: 12vh!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: start!important;
    justify-content: center!important;
  }

  /*----------------------------------------------navbar*/
  #header ul {
    list-style: none;
    /* margin-top: 20px; */
    margin-bottom: 0;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0 !important;
    padding-right: 1vw !important;
  }
  #header ul li {
    text-align: right;
    margin-left: 1vw;
    margin-right: 1vw !important;
    padding-right: 1vw;
    width: 100%;
    color: var(--colore2);
  }
nav{
    max-height: 5vh
};

  
  /*----------------------------------------------biografia*/
    #biography{
        display: flex;
        flex-direction: row !important;
        width: 90vw!important;
        height: auto!important;
        margin-top: 4vh!important;
    }

    #Photo{        
        width: 16vw!important;
        margin-left: 3vw!important;
        padding-right: 4vw!important;
    }

    .fototessera {
        height: 16vw!important;
        /* border: 1px grey solid; */
        background-color: transparent;
      }

      .shortText {
        width: 90vw!important;
        /* border: 2px solid red; */
        padding: 0!important;
        margin: 0!important;
        margin-top: 0vh!important;
        /* text-align: justify;
        text-justify: inter-word; */
      }


    /**------------------------------------------ FOOTER -----------------------------------------------*/


}/*----------------------------------------------footer*/
footer {
    background-color: var(--colore1Glass);
    width: 100vw!important;
    min-height: 6vh!important;
    max-height: 10vh!important;
    /* border: green 3px solid; */
    z-index: 2;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 0px 5px 1px rgba(10, 31, 59, 0.6);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  #FooterBox{
    min-height: 6vh!important;
    width: 90vw!important;
    /* border: 3px solid yellowgreen; */
    display: flex;
    flex-direction: row-reverse!important;
    justify-content: start;
    align-items: center;
    color: var(--colore2);
  }
  #FooterBox > article{
    /* border: 3px solid rebeccapurple; */
    width: 70%!important;
    min-height: 100%;  
    
  } 
  
  .footerSection{
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-around!important;
    align-items: start!important;
    margin-top: 3vh;
    margin-bottom: 0px;
  }
  
  #socialNetwork img{
  height: auto;
  width: 3vw;
  
  }
